#main-jumbo {
    display: none;
    text-align: left;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.loading {
    display: none;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}


/* #loading {
    position: absolute;
    bottom: 15px;
} */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#upload-file {
    padding: 10px;
}

.row {
    padding-top: 10px;
}

.card {
    margin-bottom: 10px;
}

.container {
    width: auto;
    max-width: 100%;
    padding: 0 15px;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}

.controls {
    background-color: crimson;
    padding-left: 20px;
    padding-right: 20px;
    /* color: white; */
}

.header-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

#downloadGPX {
    display: none;
}

.icon {
    width: 25px;
    height: 25px;
    padding-left: 5px;
}

.form-check-label {
    margin-left: 10px;
}

input {
    margin-bottom: 10px;
}

.custom-file {
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

@media(max-width:992px) {
    #activitySearchContainer {
        text-align: right;
    }
}

@media(max-width:576px) {
    .col-12 .custom-file {
        margin-top: 10px;
    }
}


/* .controls input {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.card-header {
    padding: 0px;
}

#activityList {
    list-style: none;
}

#activityList li {
    margin-bottom: 5px;
}

.race,
.race:hover {
    font-weight: bold;
    color: crimson;
}

#descriptionText {
    width: 100%;
    height: 100%;
}

.form-row {
    padding-top: 10px;
    padding-bottom: 5px;
}

.splits-container button {
    margin: 5px;
}