<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Segments</title>

  
    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>

<body>
<div class="container" role="main">  
                    {% if authorize_url %}
                    <h1>
                        <a href="{{ authorize_url }}">Authorize with Strava</a>
                    </h1>

                    {% else %} 
                    <a href="/retrieve">Retrieve segments</a> / <a href="/">View segments</a> 
                    {% endif %}
                <h2>{{location}} segments (total: {{segments|length}})</h2>
                <table>
                    <tr>     
                        <th>Name</th>
                        <th>Distance/climb (m)</th>
                        <th>Fastest athlete</th>
                        <th>Time</th>
                        <th>Pace (min/k)</th>
                    </tr>
                    <ul>
                        {% for segment in segments %}
                       <tr>
                           <td>
                               <a href="https://www.strava.com/segments/{{segment.id}}" target="_blank">{{segment.name}}</a>
                            </td>
                    
                    <td>{{segment.distance}}/{{segment.climb}}</td>
                    <td>{{segment.fastest_athlete}}</td>
                    <td>{{segment.fastest_time}}</td>
                    <td>{{segment.fastest_pace}}</td>
                        {% endfor %}
                       </tr>             
        </table>     
    </div>
</body>
</html>
